
{% extends 'base.html' %}

{% block script %}
    <script src="/static/js/function.js"></script>
{% endblock script%}


{% block content %}
    <div class="row">
        <select id="option">
            <option value="browser">打开网址</option>
            <option value="find">查找元素</option>
            <option value="keys">输入文本</option>
            <option value="action">执行动作</option>
        </select>
        <input id="command" type="button" value="添加">
    </div>

    <div class="row">
        <div id="cases"></div>
    </div>

    <div class="row">
        <input id="run" type="button" value="运行">
    </div>
{% endblock content%}