<!-- 这里是header -->
<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pandora</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">平台首页</a></li>
                    <li><a href="/interface">接口测试</a></li>
                    <li><a href="/performance">性能测试</a></li>
                    <li><a href="/function">功能测试</a></li>
                    <li><a href="/coverage">覆盖率</a></li>
                    <li><a href="/monitor">监控报警</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>